:root {
    --background: white;
    --text: #0c0c0d;
    --hover: #ededf0;
    --hover-text: var(--text);
    --icon: #737373;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212124;
        --text: #ededf0;
        --hover: #37373a;
    }
}

body {
    background: var(--background);
    color: var(--text);
    padding: 0;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

ul {
    margin: .4em 0;
}

button {
    width: 100%;
    border: none;
    background: transparent;
    padding: .5em 1em;
    line-height: 1.2em;
    text-align: start;
    color: var(--text);
}

button:hover {
    background: var(--hover);
    color: var(--hover-text);
}

.icon {
    margin-right: .5em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
}

#default .icon {
    color: var(--icon);
}
